<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border-2 rounded-full dark:bg-gray-800 dark:text-white dark:border-gray-300 dark:hover:bg-gray-900 dark:hover:border-gray-700 bg-white focus-visible:ring-yellow-500/80 text-md hover:bg-slate-200 group max-w-fit hover:text-dark focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
